.container-lista-acoes {
  background-color: rgb(38, 41, 59);
  color: honeydew;
  min-height: 100vh;
  /* min-width: 100vw; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-nome {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

.container-tabelas {
  display: flex;
  margin-bottom: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

.tabela-usuario-acao {
  width: 40%;
}

.title-lista-acoes {
  margin: 30px 0 10px;
}

table {
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  /* border: solid 1px honeydew; */
  width: 100%;
}

table th {
  padding: 5px 10px;
  font-weight: 700;
  background-color: honeydew;
  color: rgb(38, 41, 59);
  /* border: solid 1px honeydew; */
  width: 25%;
}

table td {
  padding: 2px 10px;
  border-bottom: solid 1px honeydew;
  width: 25%;
}

table button {
  width: 100%;
  font-weight: 700;
  color: rgb(38, 41, 59);
}

.container-btn-lista-acoes {
  background-color: honeydew;
  bottom: 0px;
  position: fixed;
  width: 100%;
  display: flex;
}

.btn-lista-acoes {
  margin: 2px;
  padding: 10px 30px;
  font-size: 15px;
  border: solid 1px honeydew;
  background-color: rgb(38, 41, 59);
  color: honeydew;
  font-weight: 700;
  letter-spacing: 2px;
  width: 70%;
}

.btn-sair {
  margin: 2px;
  padding: 10px 30px;
  font-size: 15px;
  border: solid 1px honeydew;
  background-color: rgb(38, 41, 59);
  color: honeydew;
  font-weight: 700;
  letter-spacing: 2px;
  width: 30%
}

@media (max-width: 600px) {
  
  .container-tabelas {
    flex-direction:column;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
  }


  .tabela-usuario-acao {
    width: 90%;
    margin-left: 5%;
  }
  
  table td {
    padding: 2px 10px;
    border-bottom: solid 1px honeydew;
    width: 25%;
  }
 
}
  