.container-deposito-retirada {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  min-height: 100vh;
  /* min-width: 100vw; */
  width: 100%;
  background-color: rgb(38, 41, 59);
  color: honeydew;
}

.container-saldo {
  display: flex;
  justify-content: space-around;
  border: solid 1px honeydew;
  background-color: honeydew;
  color: rgb(38, 41, 59);
  font-weight: 700;
  font-size: 20px;
}

.container-saldo p {
  margin: 5px;
}

.container-btn-deposito-retirada {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.btn-deposito-retirada {
  margin: 2px;
  padding: 10px 30px;
  font-size: 15px;
  border: solid 1px honeydew;
  background-color: rgb(38, 41, 59);
  color: honeydew;
  font-weight: 700;
  letter-spacing: 2px;
  width: 35%;
}

.btn-deposito-retirada-selecionado {
  margin: 2px;
  padding: 10px 30px;
  font-size: 15px;
  border: solid 1px honeydew;
  background-color: honeydew;
  color: rgb(38, 41, 59);
  font-weight: 700;
  letter-spacing: 2px;
  width: 35%;
}

.label-deposito-retirada {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 20px;
}

.input-deposito-retirada {
  padding: 5px;
  font-size: 15px;
  text-align: center;
  width: 50%;
  background-color: honeydew;
  border: none;
}

.container-btn-confirmar-voltar  {
  background-color: honeydew;
  bottom: 0px;
  position: fixed;
  width: 100%;
  display: flex;
}

.btn-voltar-confirmar {
  margin: 2px;
  padding: 10px 30px;
  font-size: 15px;
  border: solid 1px honeydew;
  background-color: rgb(38, 41, 59);
  color: honeydew;
  font-weight: 700;
  letter-spacing: 2px;
  width: 50%
}